<style>
body{
	background-color:#fefefe;
}
</style>
<!--导航条-->
<div class="container-fluid">
     <div class="row back_show1">
          <div class="row col-xs-3"><a href="javascript:history.back(0)"><img src="images/back_show1.jpg" width="53" height="45" /></a></div>
          <div class="row col-xs-9 title_down" style="text-align:left;overflow:hidden;height:45px;">{{item.title}}</div>
	</div>
</div>

<!--头图-->
<div class="container-fluid">
     <div id="videoBox" style="text-align:center;height:250px;position:relative;background-color:rgba(0,0,0,1);"  class="row col-xs-13">
			<video ng-click="mplay()" id="video_{{item.v_id}}" ng-src="{{item.address}}" controls="controls"
			width="100%" height="250px"></video>
	 </div>
</div>

<div class="container-fluid show_info_thr">
     <div class="row ">
           <div class="text-center col-xs-4 line_bg" style="padding:0;">
            <p class="text-center">
				<span><img src="images/point_duo.jpg" width="15" height="15" style="margin-top:-4px; margin-right:3px;"/>
				</span>{{item.count}}</p>
		   </div>

           <div class="text-center col-xs-4 line_bg" style="padding:0; padding-top:5px; padding-left:0px;">
            <p class="text-center heart_bian" style="margin-top:7px;">
				<a class="{{item.likeClass}}" ng-click="loveMovie()">
				<span class="heart" style="margin:0 auto;"><i style="float:left;margin-left:20px;margin-top:3px;" class="shuzi">{{item.total_like}}</i></span>
				</a></p>
           </div>
           
           <div class="text-center col-xs-4" style="padding:0;">
            <p class="text-center"><span>
				<img src="images/time_tv.jpg" width="15" height="15" style="margin-top:-4px; margin-right:3px;"/>
				</span>{{item.length}}</p>
           </div>
     </div>
</div>

<!--滚动lunbo-->
<div class="container-fluid pd30">
	 <div class="row nam_tit"><h4>猜你喜欢</h4></div>
	 <div class="row">
		<div class="swiper-like">
			<div class="swiper-container">
				<div class="swiper-wrapper" imgCount="{{item.likeDataCount}}">
					<div ng-repeat="item in item.likeData" ng-hide="{{item.hidepic}}" class="swiper-slide">
						<img zjUrl="{{item.clickUrl}}" ng-src="{{item.pic_url}}" index="{{$index}}"  orientablelike />
						<div class="swiper-title">
							{{item.title}}
						</div>
					</div>
				</div>
			</div>
			<div class="pagination"></div>
		</div>
	</div>
</div>

<!--下面的图-->
<div class="container-fluid pd20" style="padding-bottom:80px;">
       <div class="row"><img ng-src="{{item.gdsrc}}" width="100%" class="img-responsive" style="margin:0 auto;"/></div>
</div>
